@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl md:text-4xl font-semibold uppercase tracking-widest text-center;
    }

    h2 {
        @apply text-xl md:text-2xl font-semibold uppercase tracking-widest md:mb-1 text-center;
    }

    h3 {
        @apply text-base md:text-lg font-medium uppercase tracking-widest md:mb-1 text-center;
    }

    p {
        @apply text-xs md:text-sm font-light;
    }
}

@layer components {
    label {
        @apply text-xs md:text-sm ms-2 font-light;
    }

    button,
    input[type="submit"] {
        @apply cursor-pointer text-xs md:text-sm bg-white/20 transition duration-300 ease-in-out hover:bg-white/40 py-1 px-3 md:px-4 uppercase border-solid border-y border-white/20 font-medium tracking-widest rounded-full;
    }

    input[type="text"],
    input[type="number"],
    select,
    input[type="email"],
    input[type="password"] {
        @apply text-black rounded-full text-xs md:text-sm py-1 px-3 md:mt-1 focus:outline-black;
    }

    textarea {
        @apply text-black rounded-2xl text-xs md:text-sm py-1 px-3 md:mt-1 focus:outline-black;
    }
}

body {
    background-color: black;
    background-image: url('/src/assets/leafs.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: white;
}